extends layout.pug
block content
   img(src="/img/man.jpg", alt="man")
   .text
      h1 #{title}
      p.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Sed accumsan justo quis rhoncus aliquam. Aliquam eget auctor lectus.
         Duis laoreet interdum orci faucibus suscipit. Cras aliquet sapien at felis
         congue, in pharetra lorem porta. Proin et pharetra nibh. Donec dolor tortor,
         interdum non lacinia nec, vulputate dapibus risus. Nam mollis elementum ipsum.
         Sed vestibulum faucibus nibh ac lobortis. Nunc ut ornare eros.
         Aliquam erat volutpat. Praesent congue turpis nec lectus pellentesque laoreet.
         Aenean lacinia convallis purus, sed vestibulum odio varius ut. Donec nisi risus,
         malesuada eget tincidunt vitae, sagittis eget lacus. Etiam lacinia efficitur nunc
         vestibulum sollicitudin. Ut ut mollis dolor, a fringilla libero. Suspendisse
         id urna et lorem aliquet vestibulum.
      p.
         Quisque sit amet lectus sit amet urna accumsan suscipit eget non sapien.
         Phasellus tempor risus in dictum eleifend. Praesent ornare posuere arcu
         vitae egestas. Aenean vel nunc scelerisque, dignissim ipsum sed, lacinia
         risus. Ut pellentesque blandit diam, id condimentum dolor eleifend feugiat.
