doctype html
html(lang="en")
   head
      link(rel="stylesheet", type="" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
      link(rel="stylesheet", href="/css/main.css")
      title pug ft express
   body
      header
         nav.header-navbar
            ul
               li.navbar-item
                  a(href='/' data-home-link) Home
               li.navbar-item
                  a(href='/about' data-about-link) About
      main
         block content
