* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-image: url('/img/table.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: wheat;
}

.header-navbar {
  background-color: rgba(139, 0, 139, .9);
  padding: 1.5rem;
}

.header-navbar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  list-style: none;
  padding: 0 2rem;
}

.navbar-item a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: wheat;
}
.navbar-item a:hover {
  background-color: purple;
}

main {
  background-color:rgba(0,0,0,.9);
  height: calc(100% - 5.2rem);
  display: flex;
  align-items: center;
  padding: 3rem;
}

main .text > * + * {
  margin-top: 1rem;
}

img {
  margin: 0 auto;
  max-width: 40rem;
  border-radius: 1rem;
  margin-right: 2rem;
}

p {
  text-align: justify;
}
